<center><h1>Ringle</h1>
<hr>
<br>
<h3>THU : <%=@thu.time%></h3>
<h4>Tutor list</h4>
<br>

<% if @ami.THU == "1"%>
<input name="" type="checkbox" value="1" />
Ami&emsp;
<% end %>

<% if @bob.THU == "1"%>
<input name="" type="checkbox" value="1" />
Bob&emsp;
<% end %>

<% if @charlie.THU == "1"%>
<input name="" type="checkbox" value="1" />
Charlie&emsp;
<% end %>

<% if @david.THU == "1"%>
<input name="" type="checkbox" value="1" />
David&emsp;
<% end %>

<% if @ellie.THU == "1"%>
<input name="" type="checkbox" value="1" />
Ellie
<% end %>