<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>SUN : <%=@sun.time%></h3>
<h4>Tutor list</h4>
<br>

<form action="/" method="post">
  <% if @ami.SUN == "1"%>
    <input name="" type="checkbox" value="1" />
    Ami&emsp;
  <% end %>

  <% if @bob.SUN == "1"%>
   <input name="" type="checkbox" value="1" />
    Bob&emsp;
  <% end %>

  <% if @charlie.SUN == "1"%>
   <input name="" type="checkbox" value="1" />
    Charlie&emsp;
  <% end %>

  <% if @david.SUN == "1"%>
    <input name="" type="checkbox" value="1" />
    David&emsp;
  <% end %>

  <% if @ellie.SUN == "1"%>
    <input name="" type="checkbox" value="1" />
    Ellie
  <% end %>

  <br><br><br>
  <button type="submit">Apply</button>
</form>