<center><h1>Ringle</h1>
<hr>
<br>
<h3>FRI : <%=@fri.time%></h3>
<h4>Tutor list</h4>
<br>

<% if @ami.FRI == "1"%>
<input name="" type="checkbox" value="1" />
Ami&emsp;
<% end %>

<% if @bob.FRI == "1"%>
<input name="" type="checkbox" value="1" />
Bob&emsp;
<% end %>

<% if @charlie.FRI == "1"%>
<input name="" type="checkbox" value="1" />
Charlie&emsp;
<% end %>

<% if @david.FRI == "1"%>
<input name="" type="checkbox" value="1" />
David&emsp;
<% end %>

<% if @ellie.FRI == "1"%>
<input name="" type="checkbox" value="1" />
Ellie
<% end %>