<%# Tutor Bob 시간 선택 %>
<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>Bob's Schedule</h3>
<p>수업 가능한 시간을 선택하세요</p>
<br>

<% iter = 0%>
<% @table.each do |bob| %>
  <a href="/bob_time/<%=bob.id%>" style="text-decoration:none;">
  <%= bob.time %></a>&emsp;
  <% iter = iter + 1 %>
  <% if iter == 6%>
    <% iter = 0%>
    <br><br>
  <% end %>
<% end %>