<%# Tutor Ellie 시간 선택 %>
<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>Ellie's Schedule</h3>
<p>수업 가능한 시간을 선택하세요</p>
<br>

<% iter = 0%>
<% @table.each do |ellie| %>
  <a href="/ellie_time/<%=ellie.id%>" style="text-decoration:none;">
  <%= ellie.time %></a>&emsp;
  <% iter = iter + 1 %>
  <% if iter == 6%>
    <% iter = 0%>
    <br><br>
  <% end %>
<% end %>

<br><br>
<a href="/tutor_choice" style="text-decoration:none;">Back</a>