<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>Ellie 예약 현황</h3>
<br>

<% @reservations.each do |ellie| %>
  <% if ellie.tutor == "Ellie"%>
    <%= ellie.name%>&emsp;
    <%= ellie.lecture%>&emsp;
    <%= ellie.day%>&emsp;
    <%= ellie.time%>&emsp;
  <%end%>
  <br>
<% end %>

<br><br>
<a href="/show" style="text-decoration:none;">Back</a>&emsp;
<a href="/" style="text-decoration:none;">Home</a>