<center><h1 class="title">Ringle</h1>
<hr>
<br>
<form action="/name_lecture" method="post">
  <p>Username</p>
  <div>
    <input type="text" name="user">
  </div>
  <br>
  <p>Lecture</p>
  <div>
    <input type="radio" name="lecture" value="20min">20 min

    <input type="radio" name="lecture" value="40min">40 min
  </div>

  <br><br>
  <button type="submit">Search</button>
</form>

<br><br>
<a href="/" style="text-decoration:none;">
Back</a>&emsp;
<a href="/apply_time" style="text-decoration:none;">
시간 선택</a>