<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>Tutor list</h3>
<br>

<a href="/ami_reservation" style="text-decoration:none;">
Ami</a>&emsp;

<a href="/bob_reservation" style="text-decoration:none;">
Bob</a>&emsp;

<a href="/charlie_reservation" style="text-decoration:none;">
Charlie</a>&emsp;

<a href="/david_reservation" style="text-decoration:none;">
David</a>&emsp;

<a href="/ellie_reservation" style="text-decoration:none;">
Ellie</a>

<br><br><br>
<a href="/" style="text-decoration:none;">Back</a>