<center><h1 class="title">Ringle</h1>
<hr>
<br>
<h3>Tutor list</h3>
<br>

<a href="/Ami_schedule" style="text-decoration:none;">
Ami</a>&emsp;

<a href="/Bob_schedule" style="text-decoration:none;">
Bob</a>&emsp;

<a href="/Charlie_schedule" style="text-decoration:none;">
Charlie</a>&emsp;

<a href="/David_schedule" style="text-decoration:none;">
David</a>&emsp;

<a href="/Ellie_schedule" style="text-decoration:none;">
Ellie</a>

<br><br><br>
<a href="/" style="text-decoration:none;">Back</a>